# Include Go source files in linksocks_go directory
recursive-include linksocks_go *.go
recursive-include linksocks_go_ffi *.go
include go.mod
include go.sum

# Include documentation
include README.md

# Exclude unnecessary files
global-exclude __pycache__
global-exclude *.py[co]
global-exclude .git*
global-exclude *.dylib
global-exclude *.dll

# Exclude existing bindings directory to force rebuild
prune linksockslib